.card{
        width: 32%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        background-color: #f1f1f1;
        margin-bottom: 8px;
        max-height: fit-content;
}


h1,p {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}


@media only screen and (max-width: 480px) {
    .card{
        width: 100%;
        display: block;
    }
    
}

